* {
	box-sizing: border-box;
}

body {
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	height: 100%;
	text-align: center;
	color: white;
	overflow: hidden;
}

#tool_bar {
	width: 438px;
	float: left;
	height: 100vh;
	color: white;
	z-index: 1;
}

#bar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}

#draw_panel {
	width: calc(100% - 438px);
	height: 100vh;
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: default;

}

#canvas {
	cursor: pointer;
	z-index: -2;
}

.hide {
	display: none;
}

.blurry {
	filter: blur(5px);
}

.grey {
	background-color: rgba(0,0,0,0.3);
	z-index: 2;
}

.no_create {
	z-index: -1;

}

#create_canvas {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0; 
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center; 
}

#styleInput {
	border: solid white 5px;
	border-radius: 0em;
	width: 50px;
	height: 50px;
	cursor: pointer;
}

#styleInput:focus {
	outline: none;
}

#logo {
	margin: 2em;
	/*border: dashed white 5px;*/
	padding: .5em;
	margin-bottom: 0em;
	position: relative;
	right: -100px;
	top: -20px;

}

#save h1 {
	position: fixed;
	right: 1em;
	bottom: 1em;
	color: white;
	z-index: 2;
	cursor: pointer;
}

#savebutton {
	position: fixed;
	right: 0;
	bottom: 0;
	cursor: pointer;
}

.tools {
	position: absolute;
	top: 2em;
	left: 2em;
	text-align: left;
}

#new_canvas {
	width: 500px;
	height: 300px;
	background-color: white;
	border-radius: 10px;
	padding: 1em;
	position: absolute;
}

.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 10px;
	border-radius: 5px;   
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%; 
	background: rgb(242,59,54);
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 20px;
	height: 20px;
	border: 0;
	border-radius: 50%;
	background: rgb(242,59,54);
	cursor: pointer;
}

#new {
	background: rgb(242,59,54);
	cursor: pointer;
	color: white;
	border: none;
	border-radius: 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1.5em;
	padding: .5em;
	opacity: 0.7;
	position: absolute;
	bottom: 1em;
	right: 1em;
}

#new:hover {
	opacity: 1;
}

input[type=range]::-moz-focus-outer {
	border: 0;
}

*:focus {outline:none !important}

h1{
	font-size: 3em;
	margin-bottom: 0;
}

h2 {
	color: rgb(242,59,54);
	display: inline;
	line-height: 3em;

}
footer {
	position: fixed;
	bottom: 1em;
	left: 1em;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: none;
	color: rgb(196,48,44);
}


/*checkbox*/

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  border: solid white 5px;
  background-color: white;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #f8f8ff;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: rgb(242,59,54);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: " ";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 12px;
  top: 2px;
  width: 12px;
  height: 25px;
  border: solid white;
  border-width: 0 5px 5px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}